<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slash Blogs</title>
    <link href="/stylesheets/app.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="ui inverted menu">
        <div class="ui container">
            <div class="ui header item"><i class="code icon"></i><a href="/">Blog Site</a></div>
            <a class="item" href="/">Home</a>
            <a class="item" href="/blogs/new">New Post</a>
        </div>
    </div>